@model ProductVM 
@{
    ViewData["Title"] = Model.Product.Id!=0?"Update Product":"Create Product";
}

<form method="post"  enctype="multipart/form-data">
	
	<input asp-for="Product.Id" hidden /> 
	<input asp-for="Product.CoverUrl" hidden /> 

	
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-2">
				<div class="card p-3 mt-2">
					<div class="col-12">
						<h2 class="mb-3 col-md-10">@(Model.Product.Id!=0?"Edit":"Add") Product</h2>
						<h6 style="text-align:right"><a asp-action="Index">Back to List</a></h6>
					</div>

					<div class="mb-3">
							<label asp-for="Product.CoverUrl"></label>
							<input type="file" id="uploadBox" name="file" class="form-control" /> @*name for controller*@
					</div>

					<div class="row">
						<div class="mb-3 col-md-8">
							<label asp-for="Product.Name"></label>
							<input asp-for="Product.Name" class="form-control" />
							<span asp-validation-for="Product.Name" class="text-danger"></span> 
						</div>

						<div class="mb-3 col-md-4">
						<label asp-for="Product.CategoryId"></label>
						<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
							<option disabled selected>--Select Category--</option>
						</select>
						<span asp-validation-for="Product.CategoryId" class="text-danger"></span> 
						</div>
					</div>

					<div class="row">
						<div class="mb-3 col-md-4">
							<label asp-for="Product.Price"></label>
							<input asp-for="Product.Price" class="form-control" />
							<span asp-validation-for="Product.Price" class="text-danger"></span> 
						</div>
						<div class="mb-3 col-md-4">
							<label asp-for="Product.DiscountPercentage"></label>
							<input asp-for="Product.DiscountPercentage" class="form-control" />
							<span asp-validation-for="Product.DiscountPercentage" class="text-danger"></span> 
						</div>
						<div class="mb-3 col-md-4">
							<label asp-for="Product.DiscountAmount"></label>
							<input asp-for="Product.DiscountAmount" class="form-control" />
							<span asp-validation-for="Product.DiscountAmount" class="text-danger"></span> 
						</div>
					</div>

					<div class="mb-3">
						<label asp-for="Product.Description"></label>
						<textarea asp-for="Product.Description" row="10" class="form-control"></textarea>
						<span asp-validation-for="Product.Description" class="text-danger"></span>
					</div>

					<br />

					@if(Model.Product.Id != 0)
					{
						<button type="submit" class="btn btn-outline-primary" style="width:150px">Update</button>
					}
					else
					{
						<button type="submit" onclick="return UploadImage()" class="btn btn-outline-primary" style="width:150px">Add</button>
					}
				</div>
			</div>
		</div>

		@*show image*@
		@if(Model.Product.CoverUrl != null){
			<div class="col-2 pt-4">
					<img src="@Model.Product.CoverUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
			</div>
		}
	</div>

</form>

@section Scripts{
	@{ //apply validation without reload server
		<partial name="_ValidationScriptsPartial" />
	}

	<script>
		function UploadImage(){
			if(document.getElementById("uploadBox").value == ""){
				swal("Oops...!", "Please Upload an Image", "error");
				return false;
			}
			return true;
		}	
	</script>
}