<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <LINK REL="SHORTCUT ICON" href="~/logo.ico">
    <title>@ViewData["Title"]</title>
    <partial name="Partial/_Styles">
    
</head>
<body>
    @*check logged user to create session*@
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync("LoggedUser")
    }

    @*start layout*@
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SADA</a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <partial name="Partial/_MenuBar" />
                </div>
                
                <partial name="Partial/_LoginPartial" />
                @*<form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                     <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>
        <nav/>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_TempData" />
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted bg-dark">
        <p style="margin-left:10px; color: gray">
            &copy; @DateTime.Now.Year - SADA 
        </p>
    </footer>

    <partial name="Partial/_Scripts">
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
