@model IEnumerable<Product>;
@{
    ViewData["Title"] = "SADA";
}

<div class="row pb-3">
	@foreach(var product in Model)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card bg-light">
						<img src="@product.CoverUrl" class="card-img-top rounded"/>

						<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-primary">@product.Name</p>
							</div>
							<div class="pl-1">
								<p>Price: <strike><b>@product.Price.ToString("c")</b></strike></p> @*c for currensy*@
							</div>
						</div>
					</div>
					<div>
						<a asp-action="Details" class="badge bg-dark form-control" asp-route-productId="@product.Id">
							Details
						</a>
					</div>
				</div> 
			</div>
		</div>
	}
</div>
