@model IEnumerable<Category>;
@{
    ViewData["Title"] = "Categories";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Categories List</h2>
		</div>
        <div class="col-6 text-end">
            @*use tag helper instead of html tags*@
            <a asp-action="Create" class="btn btn-outline-light">
               <i class="bi bi-plus-circle"></i> &nbsp; Add New 
            </a>
		</div>
	</div>
    <br /><br />

    <table  id="tblData"  class="table cell-border table-bordered table-striped" style="width:100%">
    <thead>
        <tr class="table-info">
            <th>Category Name</th>
            <th>Display Order</th>
            <th></th>
		</tr>
	</thead>
</table>
</div>

@section Scripts{
    <script src="~/js/DataTables/CategoryDataTable.js"></script>
}
