<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

@if(TempData["success"] != null)
{
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>
}
@if(TempData["error"] != null)
{
    <script type="text/javascript">
    toastr.success('@TempData["error"]');
    </script>
}
@if(TempData["delete"] != null)
{
    <script type="text/javascript">
    toastr.warning("
        @TempData["delete"]
        <button type="button" id="okBtn" class="btn btn-primary">Close me</button>
    ");
   
    </script>
}



